---
title: Creative Coding The Hard Way
layout: layout.liquid
---


<main id="index_main">
  {%- for category in collections.categories -%}
  <section title="{{category}}">
    <h2 class="category_header">{{category}}</h2>
    <div class="sketch_index">
        {%- for sketch in collections.sketches | -%}
          {% if sketch.data.sketch.category != category %}
            {% continue %}
          {% endif %}

          <div class="sketch_card">
            <a
              href=".{{sketch.page.url}}index.html"
              class="sketch_card_link"
            ></a>

            <p class="sketch_card_title">
              {{sketch.data.sketch.display_name}}
            </p>

            {% if sketch.data.sketch.screenshot %}
              <img src="{{sketch.data.sketch.screenshot}}"></img>
            {% endif %}
          </div>
        {%- endfor -%}
    </div>
  </section>
  {%- endfor -%}
</main>
